@media only screen and (min-width: 1440px) {
    [data-theme] {
        --spacing: 20px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    [data-theme] {
        --spacing: 18px;
    }
}

@media only screen and (max-width: 1279px) {
    [data-theme] {
        --spacing: 16px;
    }
}
